<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block styles %}
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Audiowide">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-light">
{#        <div class="container">#}
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/prusiastext.png') }}"
                                                  alt="prusias-icon"></a>

            <ul class="nav justify-content-center">
                {% if current_user.is_authenticated %}
                    <div>
                        <a href="{{ url_for('u', username = current_user.username) }}"
                           class="logregbutton"> {{ current_user.username }}</a>
                        <a href="{{ url_for('logout') }}" class="button logregbutton">Logout</a>
                    </div>
                {% else %}
                    <a class="p-2 logregbutton" href="{{ url_for('login_get') }}">Login</a>
                    <a class="p-2 logregbutton" href="{{ url_for('register_get') }}">Register</a>
                {% endif %}
            </ul>
{#        </div>#}
    </nav>

{% endblock %}

{% block content %}
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/humanFormat.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

{% endblock %}

</body>
</html>
