<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>
{% block navbar %}
{% endblock %}

    {% block content %}
    {% endblock %}
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    {% endblock %}

  </body>
</html>
