{% extends "base.html.j2" %}


{% block content %}
    <div style="padding-top: 50px;" class="row">

        <div class="col-md-2">
            {% for rank, user, score in highscore_table %}
                <span>
                    <p {% if user == current_user.username %}
                        class="active"
                    {% endif %} style="color: {{ loop.cycle("red", "blue") }}">{{ rank }}. <b>{{ user }}: {{ score | round(precision=1) }}</b></p>
                </span>

            {% endfor %}
        </div>

        <div class="col-md-8">
            <div class="row">
                <div style="text-align: center;" class="col-md-6">
                    <p id="username">{{ current_user.username }}</p><br/>
                    <p id="score">Score: {{ current_user.score() }} </p>
                </div>
                <div style="text-align: center;" class="col-md-6">
                    <p id="enemy-username">{{ opponent_user.username }}</p><br/>
                    <p id="enemy-score">Score: {{ opponent_user.score() }} </p>

                </div>
            </div>
            <div class="row">
                <div style="text-align: center;" class="col-md-2">
                    <form action="{{ url_for("post_match", username=current_user.username) }}" method="post">

                        {{ form.csrf_token }}
                        {{ form.opponent_id }}
                        <button class="btn btn-sm  btn-success btn-block" type="submit">Fight</button>
                    </form>
                    <button style="margin-top: 5px;" class="btn btn-sm btn-success btn-block" href="{{ url_for("get_match", username=current_user.username) }}">Reroll</button>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <p>Third column</p>
        </div>

    </div>


{% endblock %}
