{% extends "base.html.j2" %}


{% block content %}
    <div style="padding-top: 50px;" class="row">

    <div class="col-md-2">
        <p>First column</p>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div style="text-align: center;" class="col-md-6">
                <p id="username">{{ current_user.username }}</p><br/>
                <p id="score">Score: $$$ </p>
            </div>
            <div style="text-align: center;" class="col-md-6">
                <p id="enemy-username">Enemy-username</p><br/>
                <p id="enemy-score">Score: $$$ </p>

            </div>
        </div>
        <div class="row">
            <div style="text-align: center;" class="col-md-12">
                <a href="#">Fight!</a><br/>
                <a href="#">Reroll</a>
            </div>
        </div>

        <div class ="row">
            <div style="text-align: center;" class="col-md-12">
                <p>Highscore</p>
            </div>
        </div>

        <div style="text-align: center;" class="row">
            <div class="col-md-12">
               <span>
                   {% set competitorlist = [[1,"Prusias",1000],[2,"Kenan Komutan",999],[3,"Kim-Jung-Un",998],[4,"RTE",997],[5,"Deadpool",996],
                           [6,"Donald Trump",1000],[7,"Ceasar",999],[8,"Alexander the Great",998],[9,"Ivan the Terrible",997],[10,"Devlet Bahceli",996]]%}
                   {% for competitor in competitorlist %}
                       <p>{{ competitor[0]}}.<b>{{competitor[1]}}: {{competitor[2]}}</b></p>
                   {% endfor %}
               </span>
            </div>

        </div>
    </div>

    <div class="col-md-2">
        <p>Third column</p>
    </div>

</div>


{% endblock %}