{% extends "base.html.j2" %}
{% import "messageflash.html.j2" as messageflash %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/u.css') }}">
{% endblock %}

{% block content %}
  <div class="container" style="padding-top:70px">
    {{ messageflash.flash(id=1) }}
    <div class="total_source" >
      User: {{ current_user.username }}
      Gold: <span id='gold' class="humanize"> {{ current_user.gold | int }} </span>
      Meat: <span id='meat' class="humanize"> {{ current_user.meat | int }} </span>
    </div>
    <div class="button">
      <button class="match_button" type="button" name="match">Match!</button>
    </div>
    <ul style="list-style-type : none; padding: 0; margin: 0;">
      {% for building, building_form in resource_buildings %}
      <div class="row filter">
          <li class="button_{{ building.building_type }}">{{ building.building_type | capitalize }}
          Building, <br>
          Level: {{ building.level }},<br>
          Upgrade:
          Gold: <span class='building_gold humanize'>{{ building.upgrade_gold() }}</span>,
          Meat: <span class='building_meat humanize'>{{ building.upgrade_meat() }}</span><br>
          Production: <span
          class='production_{{ building.building_type }} humanize'>{{ building.get_production_speed() }}</span>/s<br>

          <form style="padding-left: 10px;" method="post" action="{{ url_for('upgrade_building') }}">
            {{ building_form.id }}
            {{ building_form.csrf_token }}
            <input type="submit" value="Upgrade!">
          </form>
        </li>
      </div>
      {% endfor %}
      {% for building, building_form, soldier_form in soldier_buildings %}
      <div class="row filter">
        <li class="button_{{ building.building_type }}">{{ building.building_type | capitalize }}
          Building,<br>
          Level: {{ building.level }},<br>
          Upgrade:
          Gold: <span class='building_gold humanize'>{{ building.upgrade_gold() }}</span>
          Meat: <span class='building_meat humanize'>{{ building.upgrade_meat() }}</span><br>
          {{ building.building_type | capitalize }} Count: <span
          class='count{{ building.building_type }} humanize'>{{ building.count() }}</span>
          <form style="padding-left: 10px;" method="post" action="{{ url_for('upgrade_building') }}">
            {{ building_form.id }}
            {{ building_form.csrf_token }}
            <input type="submit" value="Upgrade!">
          </form><br>
          {% if building.level > 0 %}
          <form style="margin-top: -20px;"method="post" class="soldier_form"
          action="{{ url_for('produce_soldier') }}">
          Gold Per Unit: <span class='soldier_gold'>{{ building.gold_cost() }}</span>,
          Meat Per Unit: <span class='soldier_meat'>{{ building.meat_cost() }}</span>
          {{ soldier_form.csrf_token }}
          {{ soldier_form.id }}
          <label for="inputCount" class="sr-only">Count:</label>
          {{ soldier_form.count(class_="form_count", placeholder="0") }}
          <input type="submit" value="Train!">
        </form>
        {% endif %}
      </li>
    </div>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var interval = 2;
        $(document).ready(main);

        function main() {
            $('.humanize').each(function () {
                $(this).html(humanFormat(parseInt($(this).html())))
            });
            update_produce();
            var updater = setInterval(update_produce, 1000 * interval);

            function update_produce() {
                window.new_gold = parseInt(humanFormat.parse($('#gold').html()));
                $('span.production_gold').each(function () {
                    window.new_gold += parseInt($(this).html()) * window.interval;
                });
                window.new_meat = parseInt(humanFormat.parse($('#meat').html()));
                $('span.production_meat').each(function () {
                    window.new_meat += parseInt($(this).html()) * window.interval;
                });
                $('#gold').html(humanFormat(window.new_gold));
                $('#meat').html(humanFormat(window.new_meat));
                $('span.building_gold').each(function () {
                    if (window.new_gold > humanFormat.parse($(this).html())) {
                        $(this).css('color', 'green')
                    } else {
                        $(this).css('color', 'red')
                    }
                });
                $('span.building_meat').each(function () {
                    if (window.new_meat > humanFormat.parse($(this).html())) {
                        $(this).css('color', 'green')
                    } else {
                        $(this).css('color', 'red')
                    }
                });
                $('form.soldier_form').each(function () {
                    var gold = parseInt($(this).find('span.soldier_gold').html());
                    var meat = parseInt($(this).find('span.soldier_meat').html());
                    var count = $(this).find('.form_count');
                    var amount_gold = window.new_gold / gold - 1;
                    var amount_meat = window.new_meat / meat - 1;
                    if (amount_gold < amount_meat) {
                        count.attr('placeholder', Math.floor(amount_gold))
                    }
                    else
                    {
                        count.attr('placeholder', Math.floor(amount_meat))
                    }
                })
            };
        };
    </script>
{% endblock %}
