nav {
    background-color: #dc0c4c;
    overflow: hidden;
    width: 100%;
}

.logregbutton, .logregbutton:hover {
    color: #afc307;
    font-size: 18px;
    font-weight: bold;
}

.backimage {
    margin: 10% 0 auto auto;
    padding-top: 5%;
    max-height: 100%;
}

.slogan {
    margin-top: auto;
    padding-top: 5%;
    margin-bottom: auto;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #dc0c4c;
}
