.warrior_border{
  padding-top: 5%;
  margin-top: 5%;
  border: 3px solid #dc0c4c;
  border-radius: 6px;
  font-size: 18px;
}

.options_row{
  margin-top: 10px;
}

.option_buttons{
  font-size: 18px;
  font-weight: bold;
  background-color: #dc0c4c;
  border-radius: 6px;
}

.leaderboard{
  width: 250px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  border: 3px solid #dc0c4c;
  border-radius: 6px;
}
