body{
  background-image: url("/static/img/towntemplate.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  background-size: cover;

}

.total_source{
  background-color: #4d88ff;
  border: 2px solid #4d88ff;
  border-radius: 6px;
  /* position: fixed; */
}

.match_button{
  color: #afc307;
  background-color: #dc0c4c;
  font-size: 18px;
  border: 2px solid #dc0c4c;
  border-radius: 6px;
  /* position: fixed; */
}

.flash_message {
	/* fixed position a zero-height full width container */
	/* position: fixed; */
	/* center all inline content */
	text-align: center;
}

.flash_message > div {
	/* make the block inline */
	display: inline-block;
	/* reset container's center alignment */
	text-align: left;
}
